@media only screen and (min-width: 900px) {
  main,
  footer {
    width: 900px;
    margin: auto;
  }
  h1 {
    font-size: 2rem;
    margin-left: -10px;
  }
  figure:hover {
    box-shadow: 10px 20px 5px #7f675b;
  }
  .last-row-large {
    margin-bottom: 70px;
  }
}
