/*color palette: https://coolors.co/f5f5f5-7f675b-202030-d2f898-064789  */

#banner {
  text-align: center;
  font-family: "Yusei Magic", Garamond, serif;
  background-color: #7f675b;
  padding: 10px;
  color: #f5f5f5;
  display: none;
}
body {
  background-color: #ebebeb;
  color: #181825;
}
header,
footer {
  background-color: #064789;
  padding: 10px;
  color: #f5f5f5;
}
header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
#logo {
  width: 80%;
  align-self: center;
  justify-self: center;
}
.header-text {
  margin-left: 5px;
  justify-self: start;
  text-align: left;
}
h1 {
  font-size: 1.6rem;
}
.header-text p {
  margin-top: -10px;
  margin-left: 5px;
}
h1,
h2,
h3,
nav,
footer {
  font-family: "Yusei Magic", Garamond, serif;
}
button {
  font-size: 8vw;
  background-color: #064789;
  color: #f5f5f5;
  border: none;
}
nav {
  background-color: #064789;
  margin-top: -15px;
}
nav ul {
  list-style-type: none;
  padding: 0px;
}
nav a {
  display: block;
  color: #f5f5f5;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-decoration: none;
  font-size: 0.95rem;
}
nav li {
  background-color: #064789;
  text-align: center;
  width: 100%;
}

nav a,
footer a:visited {
  color: #f5f5f5;
}

nav a:hover {
  color: #202030;
  background-color: #d2f898;
}

nav ul li.current-page a {
  text-decoration: underline;
  background-color: #053d76;
  color: #f5f5f5;
}
nav ul.hide {
  display: none;
}

main {
  font-family: Lato, sans-serif;
}
.intro-image {
  width: 100%;
}
section,
article {
  width: 90%;
  margin: auto;
}
#intro-text {
  width: auto;
  padding: 20px 10px 20px 10px;
  line-height: 0.5em;
  background: radial-gradient(#f5f5f5, #d6d6d6);
  margin-top: -5px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(6, auto);
  grid-gap: 5px;

  color: #181825;
}

#intro-text p,
h3 {
  margin-bottom: 0px;
}
#intro-text h3 {
  margin-top: 5px;
}

#summary-head {
  grid-row: 1/2;
  grid-column: 1/3;
  text-align: center;
}
#summary-now {
  grid-row: 2/3;
  grid-column: 1/2;
  text-align: right;
}
#summary-temp {
  grid-row: 3/4;
  grid-column: 1/2;
  text-align: right;
}
#summary-hum {
  grid-row: 4/5;
  grid-column: 1/2;
  text-align: right;
}
#summary-prec {
  grid-row: 5/6;
  grid-column: 1/2;
  text-align: right;
}
#summary-wind {
  grid-row: 6/7;
  grid-column: 1/2;
  text-align: right;
}

#now {
  grid-row: 2/3;
  grid-column: 2/3;
}
#temp {
  grid-row: 3/4;
  grid-column: 2/3;
}
#hum {
  grid-row: 4/5;
  grid-column: 2/3;
}
#prec {
  grid-row: 5/6;
  grid-column: 2/3;
}
#wind {
  grid-row: 6/7;
  grid-column: 2/3;
}

.main {
  border: solid #7f675b 5px;
}
.forecast h3 {
  display: none;
}
.forecast h4 {
  text-align: center;
  margin-bottom: 3px;
  margin-top: 0px;
  color: #f5f5f5;
  font-size: 0.9rem;
}
.forecast ul {
  background-color: #7f675b;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
}
.forecast ul li {
  margin: 10px;
  margin-left: -20px;
}
.weather-icon {
  width: 40px;
}
article {
  margin-bottom: 10px;
}
.article-image-md {
  display: none;
}
.article-image {
  width: 95%;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}
footer {
  padding-left: 30px;
  padding-right: 30px;
}
footer a:link {
  color: #f5f5f5;
}
#footer-head {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  justify-items: center;
}
#contact-id {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-bottom: 0px;
  text-align: center;
}
#contact-id p:nth-child(1) {
  font-size: 1.2rem;
}
#contact-id p:nth-child(3) {
  margin-left: -3.5px;
}
#map {
  background-color: #7f675b;
  text-align: center;
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
#footer-bar {
  text-align: center;
  font-size: 0.8em;
  margin-bottom: 0px;
  background-color: #064789;
}
.social {
  display: none;
}
.social-logo {
  width: 50px;
  margin: -2px;
}
.social-logo:hover {
  opacity: 0.5;
}
