@media only screen and (min-width: 600px) {
  body {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1)
      ),
      url("../images/background4-1000blur.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

  .header-text {
    align-items: start;
    font-size: 1.2em;
  }
  #f-logo {
    grid-row: 1/2;
    grid-column: 3/4;
    margin: 3px;
  }
  #t-logo {
    grid-row: 1/2;
    grid-column: 4/5;
    margin: 3px;
  }
  nav ul.hide {
    display: block;
    display: flex;
    flex-direction: row;
  }
  button.nav-btn {
    display: none;
  }
  main#index-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(13, auto);
  }
  .join {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 70%;
    padding: 10px;
  }
  .weather-info {
    grid-column: 1/2;
    grid-row: 2/6;
    width: 70%;
    padding: 10px;
  }
  .forecast ul {
    flex-direction: column;
    width: 30%;
    margin: auto;
  }
  .forecast ul li {
    margin: 10px;
    margin-left: -27px;
  }
  img.town-image {
    display: inline;
    width: 90%;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
  }
  #image1 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .chamber-info {
    grid-column: 2/4;
    grid-row: 1/3;
    width: 70%;
    margin-top: 0;
  }
  .contact-info-side {
    display: block;
    grid-column: 1/2;
    grid-row: 5/6;
    color: var(--accent1);
    text-align: center;
    background-color: var(--primary);
    padding: 10px;
    width: 70%;
    margin: auto;
    border-radius: 10px;
    line-height: 1em;
    font-size: 0.9em;
    align-self: center;
  }
  .address2 {
    margin-top: -5px;
  }
  .contact-info-inner {
    display: none;
  }
  #image2 {
    grid-column: 3/4;
    grid-row: 3/4;
  }
  .town-events {
    grid-column: 2/4;
    grid-row: 4/5;
    margin-top: 20px;
  }
  #image3 {
    grid-column: 2/3;
    grid-row: 5/6;
  }
  #image4 {
    display: inline;
    grid-column: 3/4;
    grid-row: 5/6;
  }
  #business1 {
    grid-column: 1/4;
    grid-row: 11/12;
  }
  #business2 {
    grid-column: 1/4;
    grid-row: 12/13;
  }
  #business3 {
    grid-column: 1/4;
    grid-row: 13/14;
  }
  #city-main {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    justify-content: center;
  }
  #yardley-mural {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  .city-stats {
    grid-column: 3/4;
    grid-row: 2/3;
    margin-left: -30px;
    align-self: center;
  }
  .city-history {
    grid-column: 1/4;
    grid-row: 3/4;
    width: 70%;
  }
  .city-events {
    grid-column: 1/2;
    grid-row: 4/5;
    align-self: center;
    margin-left: 30px;
  }
  .city-events li {
    margin-left: -20px;
  }

  #city-image2 {
    grid-column: 2/4;
    grid-row: 4/5;
    margin-bottom: 30px;
  }
  #city-image3 {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  #join-main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  .join-header,
  .dir-header,
  .con-header {
    font-size: 1.7em;
    text-shadow: -1px 1px 3px var(--secondary1), 1px 1px 3px var(--secondary1),
      1px -1px 0 var(--secondary1), -1px -1px 0 var(--secondary1);
    padding: 20px;
    border-radius: 20px;
    margin: 20px auto;
  }

  form {
    display: block;
    margin: auto;
    justify-self: center;
    margin-bottom: 30px;
  }
  form input.submitBtn {
    padding: 1rem 1.5rem;
    margin: 20px 100px;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-info-page {
    width: 325px;
    margin: 30px auto;
  }
  .contactus {
    width: 400px;
  }
}
